* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
header {
  height: 10svh;
  background-color: aqua;
}
main {
  min-height: 80svh;
  background-color: violet;
}
footer {
  height: 10svh;
  background-color: yellow;
}
